<ul id="{{ menu.menu_name }}_nest1">
    <li>Dummy text</li>
    <li>Dummy text</li>
    <li>Dummy text</li>
    {% if menu.nest.0 %}
    <li><a href="{% url 'menus' menu.menu_name 2 %}">{{ menu.nest.0 }}</a></li>
    {% endif %}
    {% if menu1_nest2 %}
        <ul id="{{ menu.menu_name }}_nest2">
            <li>Dummy text</li>
            <li>Dummy text</li>
            <li>Dummy text</li>
            {% if menu.nest.1 %}
            <li><a href="{% url 'menus' menu.menu_name 3 %}">{{ menu.nest.1 }}</a></li>
            {% endif %}
            {% if menu1_nest3 %}
                <ul id="{{ menu.menu_name }}_nest3">
                    <li>Dummy text</li>
                    <li>Dummy text</li>
                    <li>Dummy text</li>
                    {% if menu.nest.2 %}
                    <li>{{ menu.nest.2 }} (and so on)</li>
                    {% endif %}
                </ul>
            {% endif %}
        </ul>
    {% endif %}
</ul>
